[submodule "ntopng-udm"]
	path = utilities-ext/ntopng-udm
	url = https://github.com/tusc/ntopng-udm.git
[submodule "samba-udm"]
	path = utilities-ext/samba-udm
	url = https://github.com/ddominet/UDMPRO-samba.git
[submodule "udm-utilities"]
	path = utilities
	url = git@github.com:marceldarvas/udm-utilities.git
	branch = deploy
