[submodule "udm-le-config"]
	path = udm-le
url=keybase://private/marceldarvas/udm-le
[submodule "ntopng-udm"]
	path = ntopng-udm
	url = https://github.com/tusc/ntopng-udm.git
[submodule "UDMPRO-samba"]
	path = UDMPRO-samba
	url = https://github.com/ddominet/UDMPRO-samba.git
[submodule "samba-udm"]
	path = samba-udm
	url = https://github.com/ddominet/UDMPRO-samba.git
[submodule "udm-utilities"]
	path = udm-utilities
	url = git@github.com:boostchicken/udm-utilities.git
	branch = master
